.sqnob {
  scroll-snap-align: start end;
  position:relative;
  cursor: pointer;
  max-width:min-content;
  border:1px solid hsla(0,0%,0%,0.6);
  border-radius: 4px;
  font-size:1em;
  margin:8px;
  min-height:2em;
}

.sqnob .info {
  user-select: none;
  padding: 4px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  z-index:4;
  position: relative;
}

.sqnob .value {
  background-color: hsla(0,0%,95%,1);
  z-index:2;
  position: absolute;
  border-radius: 4px;
  width:100%;
  bottom:0;
  border-top:1px solid #444;
}

.sqnob.active .num {
  opacity:1;
  display:block;
}

.sqnob .num {
  opacity:0;
  display:none;
  position:absolute;
  padding:4px;
  right:calc(100% + 8px);
  background-color: #fff;
  border-radius: 8px;
  transition: opacity 300ms;
  z-index:6;
}
