@import url('sqnob.css');

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

button {
  scroll-snap-align: start end;
  cursor:pointer;
  padding:4px;
  margin:8px;
  font-weight: 600;
  color:#222;
  background-color: hsla(0,0%,100%,1);
  border-radius: 12px;
  border:solid 1px #555;
  box-shadow: 0 2px 0px 1px #999;
  transition: box-shadow 100ms, background-color 100ms, color 100ms;
}

button.active {
  background-color: hsla(0,0%,80%,1);
  color:#000;
  box-shadow: inset 0px 2px 1px #888;
}

button:active, button:focus {
  outline: none !important;
}

/*   PITCH-TABLE    */

.table-holder {
	width:100%;
	overflow-x:scroll;
  scroll-snap-type:x mandatory;
}
.pitch-table {
  border-collapse: separate;
  border-spacing:0;
}
.control-row {
	display:flex;
  padding:1em;
  font-size:14px;
}
.control-row > div {
  margin:6px;
}
.label {
	place-self:center;
	text-align: center;
	margin:10px;
}
.button-holder {
	display:grid;
	grid-template-columns: 1fr 1fr;
	margin:0 20px;
}
button[disabled="disabled"] {
	background-color: #3498db;
	color:white;
}
.note-block {
	font-family: sans-serif;
	font-size:0.8em;
}
.begin {
	place-self:center;
	font-weight: bold;
	grid-row:1 / 3;
	padding-right:3px;
	white-space: nowrap;
}
.note-button {
  position:relative;
	padding:5px;
	color:#fff;
	cursor:pointer;
	user-select: none;
	opacity:1;
  border:1px solid hsla(0,0%,0%,0);
  transition:border 300ms;
}
.note-grid {
	display:grid;
  grid-gap:0;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr;
}
.note-button.black-text {
	color:#000;
}
.active-cell {
	border-color: #fff;
	opacity:1;
}
.note-freq {
    font-size: 0.8em;
    line-height: 16px;
}
.level {
  background-color: #fff;
  width:5px;
  position:absolute;
  bottom:0;
  left:0;
  height:0;
}
